/**
 * Colors & Fonts
 * ---------------------
 */
:root {
  /* Colors */
  --color-primary: #EAECEA;
  --color-primary-hover: #CD7D05;
  --color-accent: #CD7D05;

  /* Background */
  --background-sponsor: #EAECEA;

  /* Fonts */
  --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Exo', sans-serif;
}